body {background-color: black;}

a.fancy {

	color:white;
	border: 1px solid white;
	display : inline-block;
	width: 200px;
	border-radius: 5px;
	padding: 8px;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

a.fancy:hover, a.fancy:focus {

	background-color: white;
	color: black;
	transition: 
	transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.btn {
	width: 200px;
	height: 40px;
	border-radius: 5px;
	background:#8e44ad;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
	overflow: hidden;
	

}

.btn:before
{
	content: 'Hover Me';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.5s;
	color: white;
	font-family: calibri;

}

.btn:hover:before
{
	top:-30px;
}

.btn:after
{
	font-family: 'Ionicons';
	content: '\f43c';
	position: absolute;
	top: calc(100% + 30px);
	left: 50%;
	transform: translate(-50%,-50%);
	font-size :30px;
	transition: all 0.5s;
	color: white;
}


.btn:hover:after
{
	top:50%;
}


























