body
{
	margin: 0;
	padding: 0;
	background:#262626;
	font-family: calibri;
}

.container
{
	position: absolute;
	width: 40px;
	height: 40px;
	background: white;
	top: 25%;
	left: 40%;
	padding: 20px;
	transition: 1s;
	box-sizing: border-box;
	overflow:hidden;
}

.container.active
{
	width: 240px;
	height: 320px;
}

.container p
{
	font-size: 12px;
	text-align: justify;
	margin-top: 20px;
	visibility: hidden;
}

.container.active p
{
	transition-delay: 1s;
	visibility: visible;
}

.switch
{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background:blue;
	transition: 1s;
}

.switch span
{
	display: block;
	width: 20px;
	height: 2px;
	background: white;
	position: absolute;
	top: 19px;
	left: 10px;
	transition: 1s;
}


.switch span:before
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	transform:rotate(90deg); 
	background: white;
	transition: 1s;
}

.switch.active
{
	background: red;
	top: 0;
	left: calc(100% - 40px);
	border-radius: 50%;
	transform: scale(.6);
}


.switch.active span
{
	transform: rotate(225deg);
}
























